[core]
	excludesfile = ~/dotfiles/.excludesfile
	editor = code --wait
	ignorecase = false
[user]
	email = sean@seanogrady.me
	name = Sean O'Grady
[url "ssh://git@github.com/"]
	insteadOf = https://github.com/
[pager]
	branch = false
[pull]
	rebase = false
[fetch]
  prune = true
[init]
	defaultBranch = main
[alias]
	undo = reset --keep HEAD@{1}
[url "git@github.com:"]
	insteadOf = https://github.com/
